body {
  background-image: url("https://images.pexels.com/photos/131683/pexels-photo-131683.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

body {
  color:white;
  text-align: center;
  font-size:20px;
}

h1 {
  text-align: center;
  font-size:40px;
}

.btn {
}

  h2 {
    color: gold;
    text-align: center;
    font-size:33px;
  }

  a {
      color: white;
      text-decoration: none
  }
